.DS_Store

## Core LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents
*.dvi
*.xdv

## Bibliography auxiliary files (BibTeX / BibLaTeX / Biber)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files (e.g., latexmk, SynCTEX)
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Glossaries and Indexing
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.idx
*.ilg
*.ind

## Package specific files
*.nav
*.pre
*.snm
*.vrb
*.soc
*.spl
*.thm

/build